fastapi==0.112.2
uvicorn==0.30.6
scrapy==2.11.1
pdfminer.six==20231228
pypdf==4.3.1
langdetect==1.0.9
requests==2.32.3
jinja2==3.1.4
selenium==4.15.2
undetected-chromedriver==3.5.5
beautifulsoup4==4.12.2
