{
    # This is a global option block.
    # By default, Caddy will use Let's Encrypt for public domains
    # and its own internal CA for local/private domains (like localhost).
}

{$DOMAIN_NAME} {
    {$TLS_DIRECTIVE}

    log {
        output file /var/log/caddy/access.log {
            roll_size 20mb
            roll_keep 5
            roll_keep_for 168h
        }
        format json
    }

    # Health check endpoints - only accessible from Docker network
    @internal {
        client_ip 172.18.0.0/16  # Docker bridge network range
        path /health
    }
    route @internal {
        reverse_proxy app:8000
    }

    # Main routes with load balancing
    route {
        reverse_proxy documentation-scraper-app-1:8000 documentation-scraper-app-2:8000 documentation-scraper-app-3:8000 documentation-scraper-app-4:8000 {
            lb_policy round_robin
            health_uri /health
            health_interval 2s
            fail_duration 30s
        }
    }
}
